/***** Hero component *****/
.hero {
    /* background-image: url($homepage_background_image);
    background-position: center;
    background-size: cover; */
    height: 100px;
    padding: 0 20px;
    text-align: center;
    width: 100%;

    &-inner {
        @include vertical-align;
        padding: 40px 20px;
        max-width: 610px;
        margin: 0 auto;
    }
}
